/* Nav Bar */

.barra_menu {
    background-color: rgb(232, 228, 0);
}


.barra_menu img {
    width: 100px;
}

.enlaces_menu {
    font-size: 20px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 50px;
}

/* Menu */

.contenedor_titulo_menu {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/public/img/menu\ entradas.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    
}

.titulo_menu {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: white;
    
    
}

.menu_platillos {
    display: flex;
    justify-content: space-around;
    margin: 30px;
}

.menu_platillos :hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.tarjeta_platillo h3 {
    color: rgb(194, 0, 0);
    font-weight: 700;
    font-size: 30px;
}

.tarjeta_platillo h4 {
    font-weight: 800;
}

/* Footer */

.pie_pagina {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 40px;
}

.pie_pagina img {
    width: 100px;
}

.contenedor_iconos i {
    color: white;
    padding-right: 15px;
}

.contenedor_links_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    padding: 20px;
}

.contenedor_links_footer a {
    text-decoration: none;
    color: white;
}

/* Copy */

.my_copy {
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
}

.my_copy a {
    color: white;
    text-decoration: none;
}

/* CSS de Páginas */

/* Home Page */

.cabecera_hp {
    background-image: url(https://64.media.tumblr.com/691f6583d54417627340987fe7ce0b59/tumblr_inline_nrhgjwxYHU1sminkw_1280.jpg);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

.cabecera_hp h1 {
    color: white;
    font-family: "Pacifico", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 70px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.parrafo_cabecera_hp {
    padding-top: 50px;
    padding-bottom: 50px;
}

.parrafo_cabecera_hp p {
    font-size: 23px;
    text-align: center;
    font-style: italic;
    font-weight: 700;
}

.contenedor_carrusel_patillos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.seccion_slider_platillos {
    display: flex;
    width: 70%;
    justify-content: space-between;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

.slider_platillos img {
   width: 100%;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   object-fit: cover;
}

.frase_slider {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: beige;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 30px;
}

.contenedor_redireccion {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}

.contenedor_redireccion h3 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.contenedor_redireccion img {
    width: 500px;
    height: auto;
}

.boton_menu {
    background-color: red;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    cursor: pointer;
}

.boton_reserva {
    background-color: orange;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    cursor: pointer;
}

.contenedor_reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(207, 207, 207);
    padding-top: 60px;
    padding-bottom: 60px;
}

.contenedor_reviews dt {
    font-size: 40px;
}

.contenedor_reviews dd {
    font-size: 50px;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

.reviews_icons img {
    height: 50px;
    width: auto;
}

/* Booking Page */

.contenedor_form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    
}

.contenedor_form_img {
    width: 100%;
    height: 80vh;
    background-image: url(/public/img/other/mujer-reservacion.png);
    background-position: center;
    background-size: cover;
    
    
   
}

.contenedor_bookingform {
    width: 100vh;
    height: auto;
}

.contenedor_bookingform h1 {
    text-align: center;
    padding-top: 100px;
    font-weight: 900;
}

/* Booking component */

.formulario_contacto {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 100px;
    padding-right: 25px;
    padding-left: 25px;
    font-weight: 500;
}

/* AboutUs Page */

.contenedor_nosotros1 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.contenedor_nosotros1 h1 {
    font-weight: 900;
    font-size: 40px;
}

.contenedor_nosotros1 p {
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

.contenedor_parrafo2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 50px;
    justify-content: space-around;
    align-items: center;
}

.contenedor_parrafo2 img {
  width: 50%;
}

.contenedor_parrafo2 p {
    max-width: 500px;
    text-align: center;
    font-size: 25px;
    padding-top: 30px;   
}


.contenedor_parrafo3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: space-around;
    align-items: center;
    background-color: beige;
    
}

.contenedor_parrafo3 img {
    width: 50%;
}


.contenedor_parrafo3 p {
    max-width: 500px;
    text-align: center;
    font-size: 25px;
    padding-bottom: 30px;
    padding-top: 30px; 
}

.contenedor_parrafo3 h3 {
    text-align: center;
    font-weight: 900;
}

.contenedor_parrafo4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: space-around;
    align-items: center;    
}

.contenedor_parrafo4 img {
    width: 50%;
}


.contenedor_parrafo4 p {
    max-width: 500px;
    text-align: center;
    font-size: 25px;
    padding-bottom: 30px;
    padding-top: 30px; 
}

.contenedor_parrafo4 h3 {
    text-align: center;
    font-weight: 900;
}

.contenedor_vermenu_aboutus {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-color: red;
    max-width: 100vw;
    color: white;
    margin: auto;
}

